/runtime/*
/assets/media/*
/assets/static/
/.idea

*.sql
*.pyc
*.pyo
*.db
*~
.*

/htmlcov/
/coverage/
/build/
/*.egg-info/
MANIFEST

!.gitignore
!.travis.yml
!.isort.cfg
assets/
frontend/static/frontend/lib/
restful/contrib/restauth/tests/__pycache__/
runtime/
tests/__pycache__/
