<!DOCTYPE html>
<html class="jp-pc w1200">
<head>
    <title>卷皮折扣客户端,九块邮客户端-卷皮网-卷皮网</title>
    <meta content="卷皮折扣,九块邮,iPhone,android,手机客户端" name="keywords">
    <meta content="卷皮折扣客户端,九块邮客户端每日为您精选独家折扣商品，9.9元起包邮！赶快下载卷皮折扣、九块邮iphone,android客户端，让网购更省钱更方便！" name="description">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="http://s.juancdn.com/" rel="dns-prefetch">
    <link href="http://s1.juancdn.com/" rel="dns-prefetch">
    <link href="http://d.juanpi.com/" rel="dns-prefetch">
    <link rel="canonical" href="apps.html"/>
    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??base.css,global.css,alert.css?ts=19f29ecb58134708_1457234417"/>

    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/pg-down.css?ts=19f29ecb58134708_1457234417"/>

    <script type="text/javascript"
            src="http://s.juancdn.com/common/js/??jquery.min.js,base.js,Images.js?ts=19f29ecb58134708_1457234417"></script>
    <script type="text/javascript"
            src="http://s.juancdn.com/juanpi/??assets/seajs/sea-debug.js?ts=19f29ecb58134708_1457234417"></script>
    <!-- H5 -->
    <script src="http://s.juancdn.com/jpwebapp/js/md-h5joa.js?ts=19f29ecb58134708_1457234417"></script>
</head>
<body>

<!-- 页头 -->
<div class="header header_other mobile_header">
    <div class="area">
        <a href="apps.html" title="手机版">
            <div class="logo other juan-iphone">
                <div class="fl">
                    <span class="other-logo fl"></span>
                </div>
            </div>
        </a>
        <div class="other_nav" style="visibility: hidden">
            <ul>
                <li><a href="javascript:;" class=" jp active">卷皮</a></li>
                <li><a href="javascript:;" class="jky ">9.9包邮</a></li>
            </ul>
        </div>
        <div class="protection appdown">
            <a title="每天10点开抢" class="update" href="http://www.juanpi.com/help/xiaobao" target="_blank"
               rel="nofollow"></a>
            <a title="职业买手砍价" class="lowest" href="http://www.juanpi.com/help/xiaobao#consumer03" target="_blank"
               rel="nofollow"></a>
            <a title="商品验货质检" class="check1" href="http://www.juanpi.com/help/xiaobao#consumer04" target="_blank"
               rel="nofollow"></a>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/jp.header.js?ts=19f29ecb58134708_1457234417"></script>
<!-- /页头 -->
<!-- 主体 -->

<!--main start-->
<div id="stage_1" class="stage stage_1">
    <div class="stage_in">
        <div class="stage_left tabjp">
            <!--<div class="opa goods_01"><img src="//s.juancdn.com/juanpi/img/app/goods01.png"></div>-->
            <div class="lady_01"><img
                    src="http://s.juancdn.com/juanpi/img/app/lady001.png?ts=19f29ecb58134708_1457234417"></div>
        </div>
        <div class="stage_left tabjky" style="display: none;">
            <!-- <div class="opa goods_01 demo1" style="visibility: inherit; opacity: 1; top: 100px;"><img src="//s.juancdn.com/juanpi/img/app/goods01.png"></div>-->
            <div class="lady_01"><img
                    src="http://s.juancdn.com/juanpi/img/app/lady01.png?ts=19f29ecb58134708_1457234417"></div>
        </div>
    </div>
</div>
<div id="stage_2" class="stage stage_2">
    <div class="stage_in">
        <div class="stage_left">
            <!--<div class="opa shirt demo2"><img src="//s.juancdn.com/juanpi/img/app/shirt.png"></div>-->
            <div class="boy"><img src="http://s.juancdn.com/juanpi/img/app/boy.png?ts=19f29ecb58134708_1457234417">
            </div>
        </div>
    </div>
</div>
<div id="stage_3" class="stage stage_3">
    <div class="stage_in">
        <div class="stage_left">
            <!--<div class="opa phone_01 demo3"><img src="//s.juancdn.com/juanpi/img/app/phone01.png"></div>-->
            <div class="lady_02"><img
                    src="http://s.juancdn.com/juanpi/img/app/lady02.png?ts=19f29ecb58134708_1457234417"></div>
        </div>
    </div>
</div>
<div id="stage_4" class="stage stage_4">
    <div class="stage_in">
        <div class="stage_left">
            <!--<div class="opa goods_02 demo4"><img src="//s.juancdn.com/juanpi/img/app/goods02.png"></div>-->
            <div class="phone_02"><img
                    src="http://s.juancdn.com/juanpi/img/app/phone02.png?ts=19f29ecb58134708_1457234417"></div>
        </div>
    </div>
</div>
<div class="fixed_right fixed_jp tabjp" style="top:100px;">
    <div class="step_text step_01">
        <h2>淘宝天猫特卖9.9元包邮</h2>
    </div>
    <div class="code_area ">
        <a href="javascript:;" class="code_btn">立即下载</a>
    </div>
</div>
<div style="top:100px;display: none;" class="fixed_right tabjky">
    <div class="step_text step_01" style="opacity: 1;">
        <h2>淘宝天猫特卖9.9元包邮</h2>
    </div>
    <div class="code_area">
        <a href="javascript:;" class="code_btn">立即下载</a>
    </div>
</div>
<a id="next_arrow" class="download_arrow" href="javascript:;"></a>
<div id="j_switch_nav" class="switch_nav">
    <a id="nav_1" class="" href="javascript:;"></a>
    <a id="nav_2" href="javascript:;" class=""></a>
    <a id="nav_3" href="javascript:;"></a>
    <a id="nav_4" href="javascript:;" class=""></a>
</div>
<div class="downlaod-install">
    <span class="down-title fl">一键安装：</span>
    <ul class="down-ins fl tabjky" style="display: none;">
        <li><a title="通过应用宝安装 九块邮" href="http://sj.qq.com/myapp/detail.htm?apkName=com.xiudang.jiukuaiyou.ui"
               target="_blank">应用宝</a></li>
        <li><a title="通过百度应用安装 九块邮" href="http://shouji.baidu.com/software/item?docid=7191729&f=sug@software"
               target="_blank">百度应用</a></li>
        <li>
            <a href="zhushou360://type=apk&name=九块邮&icon=//s1.juancdn.com/face/140226/9/c/530d8bdf1437f_36x36.png_100x100.jpg&url=http://m.juanpi.com/download/jiu/android"
               title="使用360手机助手安装">360手机助手</a></li>
        <li><a title="通过91助手下载"
               href="http://m.juanpi.com/download/jiu/android?p=android&f_name=%u5377%u76AE%u6298%u6263&f_version=2.7.3"
               name="卷皮折扣" onclick="return Key.Open(this, 'android');"
               SoftIcon="//s1.juancdn.com/face/140226/9/c/530d8bdf1437f_36x36.png_100x100.jpg" name="九块邮">91手机助手</a>
        </li>
    </ul>
    <ul class="down-ins fl tabjp">
        <li><a title="通过应用宝安装 卷皮" href="http://sj.qq.com/myapp/detail.htm?apkName=com.juanpi.ui" target="_blank">应用宝</a>
        </li>
        <li><a title="通过百度应用安装 卷皮" href="http://shouji.baidu.com/software/item?docid=7210226&f=sug@software"
               target="_blank">百度应用</a></li>
        <li>
            <a href="zhushou360://type=apk&amp;name=卷皮折扣&amp;icon=//s1.juancdn.com/face/130510/uo518cc5c3477f1_80x80.jpg&amp;url=http://m.juanpi.com/download/zhe/android"
               title="使用360手机助手安装">360手机助手</a></li>
        <li><a title="通过91助手下载" softicon="//s1.juancdn.com/face/130510/uo518cc5c3477f1_80x80.jpg"
               onclick="return Key.Open(this, 'android');" name="卷皮折扣"
               href="http://m.juanpi.com/download/zhe/android?p=android&amp;f_name=%u5377%u76AE%u6298%u6263&amp;f_version=2.2.5">91手机助手</a>
        </li>
    </ul>
</div>
<!--main end-->

<!-- /主体 -->
<!-- 页脚 -->
<div class="foot">
    <div class="white_bg">
        <div class="foot-con">
            <div class="con-box-n clear">
                <div class="app-side-box fl">
                    <p class="app-show"></p>
                    <p class="app-txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p>
                </div>
                <div class="con-left-info fl">
                    <dl class="update">
                        <dt>获取更新</dt>
                        <dd><a href="apps.html" target="_blank" rel="nofollow"><i></i>iPhone/Android</a></dd>
                        <dd><a href="http://user.qzone.qq.com/474171717" target="_blank"
                               rel="nofollow"><i></i>卷皮QQ空间</a></dd>
                        <dd><a href="http://weibo.com/juanpicom" target="_blank" rel="nofollow"><i></i>卷皮新浪微博</a></dd>
                        <dd><a href="http://www.juanpi.com/about/api" target="_blank" rel="nofollow"><i></i>开放API</a>
                        </dd>
                    </dl>
                    <dl class="cooperation">
                        <dt>商务合作</dt>
                        <dd><a href="https://seller.juanpi.com/choice" target="_blank"><i></i>卖家免费报名</a></dd>
                        <dd><a href="http://www.juanpi.com/about/partner" target="_blank" rel="nofollow"><i></i>商务合作</a>
                        </dd>
                        <dd>
                            <a onclick="if (window.confirm('本邮箱仅接收合作商家对卷皮员工违规行为的举报。不接受用户咨询、投诉或商务合作申请。')) { window.location = 'mailto:' + 'moc.ipnauj@gnehznail'.split('').reverse().join(''); }"
                               href="javascript:void(0)"><i></i>廉政邮箱<br><span
                                    class="revEmail">lianzheng@juanpi.com</span></a></dd>
                    </dl>
                    <dl class="cor-info">
                        <dt>公司信息</dt>
                        <dd><a href="http://www.juanpi.com/about/juanpi" target="_blank" rel="nofollow"><i></i>关于卷皮</a>
                        </dd>
                        <dd><a href="http://www.juanpi.com/about/media" target="_blank" rel="nofollow"><i></i>媒体报道</a>
                        </dd>
                        <dd class="school"><a href="http://www.juanpi.com/about/job" target="_blank"
                                              rel="nofollow"><i></i>诚聘英才</a><a
                                href="http://www.juanpi.com/about/job_2015campus" target="_blank"><em></em></a></dd>
                        <dd><a href="http://www.juanpi.com/event/xiaoyuan_zhaomu" target="_blank" rel="nofollow"><i></i>校园大使招募</a>
                        </dd>
                    </dl>
                    <dl class="help-info">
                        <dt>帮助中心</dt>
                        <dd><a href="http://www.juanpi.com/help" target="_blank" rel="nofollow"><i></i>新手上路</a></dd>
                        <dd><a href="http://www.juanpi.com/jifen/task" target="_blank" rel="nofollow"><i></i>积分攻略</a>
                        </dd>
                        <dd><a href="http://www.juanpi.com/about/map" target="_blank"><i></i>网站地图</a></dd>
                    </dl>
                </div>
                <div class="con-menu fr">
                    <a href="http://www.juanpi.com/about/service" class="service-add fl" target="_blank"
                       rel="nofollow"></a>
            <span class="service-time fl">
                <p>周一至周日</p>
                <p>9:00-21:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </span>
                </div>
            </div>
            <p class="ft-company">武汉奇米网络科技有限公司 027-65383291 鄂ICP备10209250号 | ICP许可证号：鄂B1-20150109 | 食品流通许可证
                SP4201991510041888&#12288;&#12288;Copyright &copy; 2010 -2016 JuanPi.com All Rights Reserved</p>
        </div>
    </div>
</div>
<div class="tag_remind" style="display:none;">
    <p class="tips"><em icon-bag="" icon-normal="" class="icon-normal icon-clock"></em>有货啦！</p>
    <p class="txt"><em class="remindnum"></em>件商品恢复有货！赶紧抢回来吧</p>
    <p class="btn_all"><a target="_blank" href="http://user.juanpi.com/favorite">马上查看</a></p>
    <a class="del" href="javascript:;">×</a>
</div>


<!-- /页脚 -->
<!-- 脚本 -->
<!--[if lt IE 9]>
        <script type="text/javascript" src="//s.juancdn.com/common/js/??json2.min.js?ts=19f29ecb58134708_1457234417"></script>
        <![endif]-->
<script type="text/javascript"
        src="http://s.juancdn.com/common/js/??lightbox.js,lazyload.js?ts=19f29ecb58134708_1457234417"></script>
<script src="http://s.juancdn.com/juanpi/??assets/init/md-login.js?ts=19f29ecb58134708_1457234417"
        type="text/javascript"></script>
<!--有些页面不要到顶部图标 -->
<script src="http://s.juancdn.com/juanpi/??assets/init/md-totop.js?ts=19f29ecb58134708_1457234417"
        type="text/javascript"></script>
<script src="http://s.juancdn.com/juanpi/assets/init/??jp.goodfavorite.js,jp.common.js,jp.footer.js,jp.goodlist.js,jp.buried-point.js?ts=19f29ecb58134708_1457234417"
        type="text/javascript"></script>
<script src="http://s.juancdn.com/user/assets/init/??pg-robot.js?ts=19f29ecb58134708_1457234417"
        type="text/javascript"></script>
<!--bfd-->
<script src="http://s.juancdn.com/common/js/bfd.js?ts=19f29ecb58134708_1457234417" type="text/javascript"></script>

<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/jquery.mousewheel.min.js?ts=19f29ecb58134708_1457234417"></script>
<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/pg-down.js?ts=19f29ecb58134708_1457234417"></script>
<script type="text/javascript"
        src="http://h.vipstatic.com/upload/actpics/act/common/src/minified/TweenMax.min.js?ts=19f29ecb58134708_1457234417"></script>
<script src="http://wandoujia.com/api/wdapi.js" type="text/javascript"></script>
<script src=http://zhushou.360.cn/script/360mobilemgrdownload.js></script>
<script type="text/javascript" src="http://zs.91.com/script/api/key121121.js" charset="utf-8"></script>

<script src="http://s.juancdn.com/juanpi/??assets/init/pg-stat.js,assets/init/md-ga.js,assets/init/business.js?ts=19f29ecb58134708_1457234417"
        language="javascript"></script>
<!-- /脚本 -->
</body>
</html>