{% extends "layout.html" %}
{% block content %}
<!-- 主体 -->

<!-- <div class="chird-bg"></div> -->

<div class="sub-nav">
    <ul>
        <li class="active" style="padding-right: 15px;"><a href="brand.html">全部品牌</a></li>
        <li class="cut-line">｜</li>
        <li><a href="http://brand.juanpi.com/nvzhuang">女装</a></li>
        <li><a href="http://brand.juanpi.com/xiezi">鞋子</a></li>
        <li><a href="http://brand.juanpi.com/nanzhuang">男装</a></li>
        <li><a href="http://brand.juanpi.com/muying">母婴</a></li>
        <li><a href="http://brand.juanpi.com/xiangbao">箱包</a></li>
        <li><a href="http://brand.juanpi.com/shuma">数码电器</a></li>
        <li><a href="http://brand.juanpi.com/jujia">居家</a></li>
        <li><a href="http://brand.juanpi.com/wenti">文体</a></li>
        <li><a href="http://brand.juanpi.com/meizhuang">美妆</a></li>
        <li><a href="http://brand.juanpi.com/peishi">配饰</a></li>
        <li><a href="http://brand.juanpi.com/meishi">美食</a></li>
    </ul>
</div>


<!--brand banner start-->
<div class="brand_bar">
    <ul>
        <li style="background:url(http://s.juancdn.com/juanpi/images/brand/banner_all11.jpg?ts=19f29ecb58134708_1457234417) no-repeat;"></li>
    </ul>
</div>
<!--brand banner end-->
<div class="main pr mt20 clear">
    <div class="new-brand clear">

        <div class="brand-normal clear">
            <div class="brand-title clear">
                <h3 class="name fl"><em class="icon brand nvzhuang fl"></em><a
                        href="http://brand.juanpi.com/1178425?shop_id=1945588&shoptype=1" target="_blank"><span> 格蕾曼女装特卖专场 </span></a>
                </h3>
                <div class="time fl">
                    <em class="icon clock fl"></em>
                    <span class="fl left_time"><i class="i_time" style="display: none">1457920800</i>剩余<i
                            class="d">0</i>天<i class="h">0</i>时<i class="m">0</i>分<i class="s">0</i>秒</span>
                </div>
                <a href="http://brand.juanpi.com/1178425?shop_id=1945588&shoptype=1" target="_blank"
                   class="see-more fr"><em class="icon brand-other fl"></em><span>查看更多38款>></span></a>
            </div>
            <ul class="goods-list goods-list-8 clear">
                
                <li>
                    <div class="list-good into-item">
                        <div class="good-pic">

                            <a href="http://brand.juanpi.com/1178425?shop_id=1945588&shoptype=1" class="pic-img"
                               target="_blank" data-value="brand_goods#1_1"><img
                                    src="http://s.juancdn.com/juanpi/images/blank.png?ts=19f29ecb58134708_1457234417"
                                    class="lazy"
                                    d-src="//s2.juancdn.com/bao/160225/5/7/56cec82c92be59107e8b4599_800x800.jpg?iopcmd=thumbnail&type=8&width=285&height=285%7Ciopcmd=convert&Q=88&dst=jpg"
                                    alt="">
                                <div class="into-item-discount" style="display: none" data-id="5279602">
                                    <div></div>
                                    <p></p>
                                </div>

                            </a>
                        </div>
                        <div class="into-item-brand">
                            <p class="into-item-brand-name">
                                <a href="http://brand.juanpi.com/1178425?shop_id=1945588&shoptype=1">Gramon/格蕾曼 品牌专场</a>
                            </p>
                            <p class="into-item-brand-discount">
                                <span>1.2</span>
                                折起 </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="brand-show-r fr"></div>
    <div class="page "><em></em>
        <div><span class="pg-prev">上一页</span><span>1</span><a href="http://brand.juanpi.com/all?page=2">2</a><a
                href="http://brand.juanpi.com/all?page=3">3</a><i>...</i><a href="http://brand.juanpi.com/all?page=32">32</a><a
                class="pg-next" href="http://brand.juanpi.com/all?page=2">下一页</a></div>
    </div>
    <div class="no-div"></div>

</div>
<!-- 举报 box start -->
<div class="alert_bg" id="alert_report" style="left: 539px; top: 182.5px; position: fixed; display: none;">
    <div class="alert_box">
        <div class="alert_top">
            <span class="iconimg"></span>
            <span>举报</span>
            <a href="javascript:;" class="alert_close"
               onclick="$('#alert_report').hide();$('.alert_fullbg').hide();"></a>
        </div>
        <div class="alert_content">
            <div class="l_c_l">
                <form method="post" target="_self" id="inform" name="inform">
                    商品名称：<font class="bloak" re="" id="report_title">家居室内按摩浴室防滑凉拖鞋
                    原价25元 促销价9.9元</font><br> 举报原因：
                    <select class="selectClass" id="reportAn" name="reportAn">
                        <option value="0">请选择</option>
                        <option value="1">宝贝价格与活动价格不符合</option>
                        <option value="2">宝贝不包邮或只包平邮</option>
                        <option value="3">宝贝已下架</option>
                        <option value="4">宝贝要求两件起拍，一件不发货</option>
                        <option value="5">卖家拒绝发货</option>
                        <option value="6">宝贝分类错误</option>
                        <option value="7">主图宝贝与实际出售宝贝不符</option>
                        <option value="8">其他原因</option>
                    </select>
                    <br>
                    <label style="display: none" class="other">其他原因：
                        <input type="text" id="otherReasons" class="text" name="otherReasons">
                        <br>
                    </label>
                    <input type="hidden" id="znid" value="10ui9d" name="inform_znid">
                    <input type="button" onclick="XD.JUBAO_SMT()" value="提 交" tabindex="3" class="smt">
                </form>
            </div>
        </div>
        <div class="bottom">注：为保证您的合法权益，请如实填写您所遇到的情况。</div>
    </div>
</div>
<!-- 举报 box end -->

{% endblock %}
