{% load staticfiles %}
<!DOCTYPE html>
<html class="jp-pc w1200">
<head>
    <title>官网-专注独家折扣,1折特卖,全场包邮!</title>
    <meta content="折扣,品牌折扣,折扣,特卖,打折,9.9元包邮,网" name="keywords">
    <meta content="折扣汇聚全网最优质折扣商品，每日精选千款超值折扣商品9.9元起全场包邮1折特卖，每天10点限时秒杀！上购便宜！" name="description">
    <meta name="mobile-agent" content="format=html5;url=http://m.gjingxi.com/"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="canonical" href="index.html"/>
    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??base.css,global.css,alert.css?ts=19f29ecb58134708_1457234417"/>

    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??md-list.css,md-pagination.css?ts=19f29ecb58134708_1457234417"/>
    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??pg-index.css?ts=19f29ecb58134708_1457234417"/>
   <link type="text/css" rel="stylesheet"   href="http://s.juancdn.com/juanpi/style/??md-list.css,md-pagination.css?ts=cab196f749df446a_1457442204" />
    <link type="text/css" rel="stylesheet"  href="http://s.juancdn.com/juanpi/style/??pg-brand.css?ts=cab196f749df446a_1457442204" />          
</head>
<body>

<div class="totop-tips" style="display:none;"><p class="">按&nbsp;<strong>Ctrl+D&nbsp;</strong>，把网放入收藏夹，折扣信息一手掌握！<a
        href="javascript:void(0)">不再提醒</a><span class="closet"><em>x</em>关闭</span></p></div>

<!-- 广告弹出框 -->

<!-- 页头 -->

<div class="header clear">
    <div class="area">
        <a class="juan-logo fl" href="index.html" title="首页">
            <div class="logo logo1">
                <div class="fl"><span class="juan-txt fl"></span></div>
            </div>
        </a>

        <div class="protection">
            <a title="每天10点开抢" class="update" href="" target="_blank" rel="nofollow"></a>
            <a title="职业买手砍价" class="lowest" href="" target="_blank" rel="nofollow"></a>
            <a title="商品验货质检" class="check1" href="" target="_blank" rel="nofollow"></a>
        </div>

        <div class="search">
            <span class="search-area fl">
                <input type="text" name="keywords" id="keywords" class="txt" value="请输入想找的宝贝" title="请输入想找的宝贝"/>
            </span>
            <input type="submit" value="" class="smt fr"/>
            <input type="hidden" id="search_action" name="search_action" value="">
            <input type="hidden" id="search_from" name="search_from" value="1">
        </div>
        <img class="banner-right-code" style="display:block;"
             src="http://s.juancdn.com/juanpi/images/global/jp-app-index.png">
    </div>

    <div class="mainNav">
        <div class="nav">
            <ul class="navigation fl">
                <li class="current first" channel="1">
                    <a style="" href="{% url 'home' %}" target="_blank">最新折扣</a>
                </li>
                <li>
                    <a href="{% url 'brand' %}" target="_blank">品牌折扣</a>
                </li>
                <li>
                    <a href="{% url 'sales' %}" target="_blank">特卖精选</a>
                </li>
                <li>
                    <a href="{% url 'offer' %}" target="_blank">9.9包邮</a>
                </li>

                <li>
                    <a href="{% url 'apps' %}" target="_blank" id="show-qcodes">
                        <em class="icon-normal icon-phone" id="new-phone"></em>
                        手机版
                    </a>
                    <div id="new-qcodes" class="code-tips" style="display: none;">
                        <div class="code-box">
                            <p class="code"></p>
                            <p class="txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p>
                        </div>
                    </div>
                </li>
            </ul>

<!--             <div class="state-show fr">
                <a href="javascript:;" class="normal-a dosign">
                    <em class="icon-normal icon-nosign"></em>
                    <em class="text">签到领积分</em>
                </a>
                <div style="display:none;" class="normal-side-box" id="top-side-box">
                    <div class="box-tips">
                        <p class="text">每天最多可赚：<b>100</b> 积分<br>
                            <a target="_blank" href="">赚积分攻略</a></p>
                        <p class="other"><a target="_blank" href="">我的积分</a>&#12288;｜&#12288;<a
                                target="_blank" href="">积分商城</a><br>
                            <a target="_blank" href="">新手任务，轻松起步！</a><br>
                            QQ特享群：<b>390623218</b></p>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#show-qcodes").hover(function () {
        $("#new-qcodes").css('display', 'block');
    }, function () {
        $("#new-qcodes").css('display', 'none');
    })
</script>


{% block toolbar %}{% endblock %}
{% block content %}{% endblock %}

<!-- /页脚 -->
<!-- 脚本 -->
<!-- /脚本 -->
</body>
</html>