<!DOCTYPE html>
<html class="jp-pc w1200">
<head>
    <title>【卷皮1折】撞色蝙蝠袖裙裤套装 折扣价69元包邮抢购-卷皮网</title>
    <meta content="包邮,折扣,卷皮1折,卷皮网" name="keywords">
    <meta content="" name="description">
    <meta name="mobile-agent" content="format=html5;url=http://m.juanpi.com/shop/5397918"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="http://s.juancdn.com/" rel="dns-prefetch">
    <link href="http://s1.juancdn.com/" rel="dns-prefetch">
    <link href="http://d.juanpi.com/" rel="dns-prefetch">
    <link rel="canonical" href="detail.html"/>
    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??base.css,global.css,alert.css?ts=cab196f749df446a_1457442204"/>

    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??md-report.css,md-list.css?ts=cab196f749df446a_1457442204"/>
    <link type="text/css" rel="stylesheet"
          href="http://s.juancdn.com/juanpi/style/??md-pagination.css,md-list.css,pg-mallitem.css?ts=cab196f749df446a_1457442204"/>

    <script type="text/javascript"
            src="http://s.juancdn.com/common/js/??jquery.min.js,base.js,Images.js?ts=cab196f749df446a_1457442204"></script>
    <script type="text/javascript"
            src="http://s.juancdn.com/juanpi/??assets/seajs/sea-debug.js?ts=cab196f749df446a_1457442204"></script>
    <!-- H5 -->
    <script src="http://s.juancdn.com/jpwebapp/js/md-h5joa.js?ts=cab196f749df446a_1457442204"></script>
</head>
<body>

<!-- 页头 -->
<div id="toolbar">
    <div class="bar-con">
        <div class="right-show fr">
            <div class="union-login"><a href="detail.html" rel="nofollow">QQ登录</a><a href="detail.html" rel="nofollow">微博登录</a>&#12288;|
            </div>
            <div class="login-show"><a href="detail.html" rel="nofollow">登录</a><a href="detail.html"
                                                                                  rel="nofollow">免费注册</a>&#12288;|
            </div>
            <div class="other-show"><a href="detail.html" rel="nofollow">联系客服</a><a href="detail.html">卖家报名</a></div>
        </div>
    </div>
</div>
<div class="header">
    <div class="area">
        <div class="logo juan-temai">
            <div class="fl"><a class="juan-logo fl" href="http://www.juanpi.com" title="卷皮首页">卷皮</a><span
                    class="juan-txt fl"></span></div>
        </div>
        <div class="protection">
            <a title="每天10点开抢" class="update" href="http://www.juanpi.com/help/xiaobao" target="_blank"
               rel="nofollow"></a>
            <a title="职业买手砍价" class="lowest" href="http://www.juanpi.com/help/xiaobao#consumer03" target="_blank"
               rel="nofollow"></a>
            <a title="商品验货质检" class="check1" href="http://www.juanpi.com/help/xiaobao#consumer04" target="_blank"
               rel="nofollow"></a>
        </div>
        <div class="search">
            <span class="search-area fl">
                <input type="text" name="keywords" id="keywords" class="txt" value="请输入想找的宝贝" title="请输入想找的宝贝"/>
            </span>
            <input type="submit" value="" class="smt fr"/>
            <input type="hidden" id="search_action" name="search_action" value="http://www.juanpi.com/search">
            <input type="hidden" id="search_from" name="search_from" value="1">
        </div>
        <!--<img class="banner-right-code" src="//s.juancdn.com/juanpi/images/global/jp-app-index.png">-->
    </div>
    <div class="mainNav">
        <div class="nav">
            <ul class="navigation fl">
                <li channel="1">
                    <a href="http://www.juanpi.com" target="_blank">最新折扣</a>
                </li>
                <li>
                    <a href="http://brand.juanpi.com" target="_blank">品牌折扣</a>
                </li>
                <li channel="25">
                    <a href="http://shop.juanpi.com" target="_blank">特卖精选</a>
                </li>
                <li channel="7">
                    <a href="http://jkj.juanpi.com" target="_blank">9.9包邮</a>
                </li>
                <li class="last">
                    <a href="http://www.juanpi.com/yugao" target="_blank">明日预告</a>
                </li>
                <li>
                    <a href="http://www.juanpi.com/apps" target="_blank" id="show-qcodes">
                        <em class="icon-normal icon-phone" id="new-phone"></em>
                        手机版
                    </a>
                    <div id="new-qcodes" class="code-tips" style="display: none;">
                        <div class="code-box">
                            <p class="code"></p>
                            <p class="txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="state-show fr">
                <a href="javascript:;" class="normal-a dosign">
                    <em class="icon-normal icon-nosign"></em>
                    <em class="text">签到领积分</em>
                </a>
                <div style="display:none;" class="normal-side-box" id="top-side-box">
                    <div class="box-tips">
                        <p class="text">每天最多可赚：<b>100</b> 积分<br>
                            <a target="_blank" href="http://www.juanpi.com/jifen/task">赚积分攻略</a></p>
                        <p class="other"><a target="_blank" href="http://user.juanpi.com/beans">我的积分</a>&#12288;｜&#12288;<a
                                target="_blank" href="http://www.juanpi.com/jifen">积分商城</a><br>
                            <a target="_blank" href="http://www.juanpi.com/jifen/sns">新手任务，轻松起步！</a><br>
                            QQ特享群：<b>390623218</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#show-qcodes").hover(function () {
        $("#new-qcodes").css('display', 'block');
    }, function () {
        $("#new-qcodes").css('display', 'none');
    })
</script>
<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/jp.header.js?ts=cab196f749df446a_1457442204"></script>
<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/jp.cart.js?ts=cab196f749df446a_1457442204"></script>

<!-- /页头 -->
<!-- 主体 -->


<!-- 新版 -->

<div class="main pr mt20 clear">
    <div class="mall_item_info">
        <div class="place-show">
            <div class="place-explain fl">
                <a href="http://www.juanpi.com">卷皮折扣</a>
                &gt;
                <a href="http://brand.juanpi.com">品牌折扣</a>
                &gt;
                <a href="http://brand.juanpi.com/nvzhuang">女装</a>
                &gt;
                <a class="bady-xx-seo" href="detail.html">撞色蝙蝠袖裙裤套装</a>
            </div>
            <div class="djs" style="right:20px;">剩余：<span><em id="d"></em>天<em id="h"></em>时<em id="m"></em>分<em
                    id="s"></em>秒</span></div>
        </div>
        <div class="goods_show clear" data-gid="5397918">
            <div class="deal-pic fl">
                <div class="pic">
                    <img src="http://s2.juancdn.com/bao/160308/0/0/56de6ae592be59809a8b4586_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=400&amp;height=400%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/>
                </div>
                <ul>
                    <li class="cur">
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160308/0/0/56de6ae592be59809a8b4586_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160307/a/3/56dd485292be590eaf8b4572_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160307/5/2/56dd485192be591baa8b4584_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160307/7/2/56dd484f92be5962a58b4584_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160307/b/c/56dd485092be59eba58b4582_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                    <li class="mr0">
                        <a href="javascript:;"><img
                                src="http://s2.juancdn.com/bao/160307/7/4/56dd485592be59fb9f8b458e_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=58&amp;height=58%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"/></a>
                    </li>
                </ul>
            </div>
            <div class="deal-wrap fr">
                <h1>韩版时尚可爱简约撞色印花宽松蝙蝠袖修身裙裤套装</h1>
                <div class="sector-info">
                    <div class="J-basic">
                        <dl class="tm-price clear">
                            <dd class="price">
                        <span class="current fl">
                            <i class="symbols">￥</i>69                        </span>
                                <span class="discount fl"><em>2.0</em>折</span>
                                <span class="old fl"><em class="u-yen">￥</em><span>339</span></span><span
                                    class="levelbox fl">购买最高可获得<em>238</em>积分</span></dd>
                        </dl>


                        <!-- 活动信息 insert in here -->
                        <dl class="freight clear">
                            <dt>运费：</dt>
                            <dd>广东省 广州市 <span class="addr_to">至</span>
                                <div class="address"><em attr-id="420000"></em><i></i>
                                    <div class="city">
                                        <ul>
                                            <li><a attr-id="110000" href="javascript:;">北京市</a></li>
                                            <li><a attr-id="120000" href="javascript:;">天津市</a></li>
                                            <li><a attr-id="310000" href="javascript:;">上海市</a></li>
                                            <li><a attr-id="500000" href="javascript:;">重庆市</a></li>
                                            <li><a attr-id="130000" href="javascript:;">河北省</a></li>
                                            <li><a attr-id="140000" href="javascript:;">山西省</a></li>
                                            <li><a attr-id="150000" href="javascript:;">内蒙古自治区</a></li>
                                            <li><a attr-id="210000" href="javascript:;">辽宁省</a></li>
                                            <li><a attr-id="220000" href="javascript:;">吉林省</a></li>
                                            <li><a attr-id="230000" href="javascript:;">黑龙江省</a></li>
                                            <li><a attr-id="320000" href="javascript:;">江苏省</a></li>
                                            <li><a attr-id="330000" href="javascript:;">浙江省</a></li>
                                            <li><a attr-id="340000" href="javascript:;">安徽省</a></li>
                                            <li><a attr-id="350000" href="javascript:;">福建省</a></li>
                                            <li><a attr-id="360000" href="javascript:;">江西省</a></li>
                                            <li><a attr-id="370000" href="javascript:;">山东省</a></li>
                                            <li><a attr-id="410000" href="javascript:;">河南省</a></li>
                                            <li><a attr-id="420000" href="javascript:;">湖北省</a></li>
                                            <li><a attr-id="430000" href="javascript:;">湖南省</a></li>
                                            <li><a attr-id="440000" href="javascript:;">广东省</a></li>
                                            <li><a attr-id="450000" href="javascript:;">广西壮族自治区</a></li>
                                            <li><a attr-id="460000" href="javascript:;">海南省</a></li>
                                            <li><a attr-id="510000" href="javascript:;">四川省</a></li>
                                            <li><a attr-id="520000" href="javascript:;">贵州省</a></li>
                                            <li><a attr-id="530000" href="javascript:;">云南省</a></li>
                                            <li><a attr-id="540000" href="javascript:;">西藏自治区</a></li>
                                            <li><a attr-id="610000" href="javascript:;">陕西省</a></li>
                                            <li><a attr-id="620000" href="javascript:;">甘肃省</a></li>
                                            <li><a attr-id="630000" href="javascript:;">青海省</a></li>
                                            <li><a attr-id="640000" href="javascript:;">宁夏回族自治区</a></li>
                                            <li><a attr-id="650000" href="javascript:;">新疆维吾尔自治区</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <em class="by" data-post="1">包邮</em>
                            </dd>
                        </dl>
                    </div>
                    <div class="J-other">
                        <p class="J-title"></p>
                        <div class="loadingsku" style="display:none;"><img
                                src="http://s.juancdn.com/common/images/global/loading.gif"></div>
                        <form action="https://cart.juanpi.com" id="confirm" method="post">
                            <input type="hidden" name="pid" value="5397918">
                            <input type="hidden" name="zid" value="0">
                            <input type="hidden" name="fid" value="0">
                            <input type="hidden" name="num" value="1">
                            <input type="hidden" name="sid" value="0">
                            <input type="hidden" name="token" value="">
                            <input type="hidden" name="favken" value="">
                        </form>
                        <p class="tips" style="display:none;"><i class="icons icons-warn fl"></i>请选择尺码</p>
                    </div>
                    <dl class="number clear">
                        <dt>数量：</dt>
                        <dd _limit="0" _realbuy="" _sku_limit_buy="">
                            <p>
                                <i class="decrease">-</i>
                                <input type="text" name="amount" value="1" autocomplete="off"/>
                                <i class="increase">+</i>
                            </p>
                            <span class="skulimitbuy" style="display:none;"></span>
                            <div id="stockconfig" data-enough="50" data-less="20" style="display:none;"></div>
                        </dd>
                    </dl>
                    <div id="J-mini-btn" class="submit-go clear">
                        <a data-tip="" class="btn " href="javascript:void(0);">加入购物袋</a>
                    </div>

                    <div class="sector-other">
                        <div class="collect"><a href="javascript:void(0);"><i></i>收藏</a></div>
                        <div class="share-box"><a class="txt" href="javascript:void(0);"><i></i>分享</a>

                            <div class="share" style="display:none;">
                                <div class="bdsharebuttonbox" data-tag="share_1">
                                    <a class="bds_qzone" data-cmd="qzone" href="detail.html#"></a>
                                    <a class="bds_tsina" data-cmd="tsina"></a>
                                    <a class="bds_tqq" data-cmd="tqq"></a>
                                </div>
                                <script>
                                    var s_title = [
                                        {
                                            'title': '韩版时尚可爱简约撞色印花宽松蝙蝠袖修身裙裤套装',
                                            'desc': '【折扣价：69.00元/包邮】 韩版时尚可爱简约撞色印花宽松蝙蝠袖修身裙裤套装-上卷皮，购便宜！http://shop.juanpi.com/deal/5397918/?utm=102922'
                                        },
                                        {
                                            'title': '撞色蝙蝠袖裙裤套装',
                                            'desc': '【折扣价：69.00元/包邮】撞色蝙蝠袖裙裤套装-卷皮【淘宝天猫1折特卖！】更多商品>>http://www.juanpi.com/?utm=102923'
                                        }
                                    ];
                                    var n = Math.floor(Math.random() * s_title.length);
                                    window._bd_share_config = {
                                        common: {
                                            bdText: s_title[n].title,
                                            bdDesc: s_title[n].desc,
                                            bdUrl: location.href,
                                            bdPic: $(".goods_show figure img").attr("src")
                                        },
                                        share: [{
                                            "bdSize": 16
                                        }]
                                    };
                                </script>
                                <script type="text/javascript"
                                        src="http://s.juancdn.com/common/js/bd-share.js?ts=cab196f749df446a_1457442204"></script>
                            </div>

                        </div>
                        <div style="margin-left:30px;"><a title="撞色蝙蝠袖裙裤套装" re="5397918" class="report"
                                                          onclick="XD.JUBAO(this)" href="javascript:;">举报</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantage">
            <div class="adv_box">
                <div class="sale_name_box">
                    <a href="http://brand.juanpi.com/1162590?shop_id=1406583" target="_blank" class="sale_name">韩风时尚</a>
                </div>
            </div>
        </div>
        <a name="goodsdesc"></a>
        <div class="content clear">
            <div class="title-nav">
                <div class="slide-box" style="overflow: visible">
                    <div class="slide-box-main" style="overflow: visible">
                        <div class="fl">
                            <ul>
                                <li class="active"><a href="detail.html#goodsdesc">商品详情</a></li>
                                <li><a href="javascript:;">物流与售后</a></span></li>
                                <li><a href="javascript:;">消费保障</a></span></li>
                                <li style="position: relative;z-index: 10">
                                    <em class="icon-normal icon-phone-fen"
                                        style="margin-top: 12px;margin-left: 40px"></em><a id="show-qcode"
                                                                                           style="padding-left:0 "
                                                                                           href="http://www.juanpi.com/apps">手机购买</a></span>
                                    <div id="new-qcode" class="code-tips">
                                        <div class="code-box"><p class="code"></p>
                                            <p class="txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="fl" style="display: none;">
                            <div class="seller" class="fl">
                                <div>
                                    售前客服： <a title="点击这里给我发消息" target="_blank"
                                             href="http://wpa.qq.com/msgrd?v=3&amp;uin=3083069827&amp;site=qq&amp;menu=yes">
                                    <img border="0" style="display: inline-block;"
                                         src="http://s.juancdn.com/juanpi/images/shopping/qq-icon.gif"></a>
                                </div>
                            </div>
                        </div>

                        <div class="fr ">
                            <a href="javascript:void(0);" class="btn">加入购物袋</a>
                            <span class="g-post">/包邮</span><span class="p"><em>￥</em>69.00</span>
                        </div>
                    </div>
                    <div class="slide-box-tab">
                        <ul>
                            <li><a href="javascript:;" _tagname="整体款式">整体款式</a></li>
                            <li><a href="javascript:;" _tagname="细节做工">细节做工</a></li>
                            <li><a href="javascript:;" _tagname="模特实拍">模特实拍</a></li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="tm-goodsinfo">
                <div class="info-title"><a name="sbtggcs"></a><span class="param">参数规格</span></div>


                <div class="details-info">
                    <table cellpadding="0" cellspacing="0" class="tb-param">
                        <tr>
                            <td width="33%">服装版型：宽松</td>
                            <td width="33%">面料材质：聚酯纤维</td>
                            <td width="33%">图案：花色</td>
                        </tr>
                        <td width="33%">风格：韩版</td>
                        <td width="33%">厚薄：适中</td>
                        <td width="33%">上市年份季节：2016春</td>
                        </tr>
                        <td width="33%">尺码：M-XXL</td>
                        <td width="33%">颜色分类：白色，黑色</td>
                        <td width="33%">货号：6093</td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" class="tb-param tb-nb">
                    </table>
                </div>

                <div class="info-title" _tagname="整体款式"><span class="single-style">整体款式</span></div>
                <div class="details-info">
                    <div class="goods_desc"><img class="goods_desc_img lazy"
                                                 d-src="//s2.juancdn.com/bao/160307/1/6/56dd48a692be59f9a98b4587_750x792.jpg?iopcmd=convert&Q=88&dst=jpg"
                                                 src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/8/3/56dd48a792be59779f8b458a_750x1143.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/e/b/56dd48a892be59fba98b457c_750x1146.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/></div>
                </div>
                <div class="info-title" _tagname="细节做工"><span class="single-style">细节做工</span></div>
                <div class="details-info">
                    <div class="goods_desc"><img class="goods_desc_img lazy"
                                                 d-src="//s2.juancdn.com/bao/160307/0/b/56dd48a892be5986a38b4586_750x589.jpg?iopcmd=convert&Q=88&dst=jpg"
                                                 src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/4/2/56dd48a992be59fda98b457f_750x555.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/2/5/56dd48a992be59779e8b4594_750x552.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/c/0/56dd48aa92be59219c8b458f_750x556.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/></div>
                </div>
                <div class="info-title" _tagname="模特实拍"><span class="single-style">模特实拍</span></div>
                <div class="details-info">
                    <div class="goods_desc"><img class="goods_desc_img lazy"
                                                 d-src="//s2.juancdn.com/bao/160307/5/2/56dd485192be591baa8b4584_800x800.jpg?iopcmd=convert&Q=88&dst=jpg"
                                                 src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/c/3/56dd485492be592ea98b457d_800x800.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/8/d/56dd48ac92be59edb68b456a_750x1168.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/3/2/56dd48ae92be5936a58b458c_750x1146.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/><img
                            class="goods_desc_img lazy"
                            d-src="//s2.juancdn.com/bao/160307/b/5/56dd48af92be59afab8b4584_750x1147.jpg?iopcmd=convert&Q=88&dst=jpg"
                            src="http://s.juancdn.com/juanpi/img/blank_big.png?ts=cab196f749df446a_1457442204"/></div>
                </div>
                <div class="info-title"><span class="buy-guidelines">物流与售后</span></div>
                <div class="details-info guidelines-con">
                    <p><b>发货物流：</b>中通快递</p>
                    <p><b>配送范围：</b>全国（港澳台地区除外）。</p>
                    <p><b>运费说明：</b>全国包邮。</p>
                    <p><b>包裹跟踪：</b>您可在<a href="http://user.juanpi.com/order/" target="_blank">【我的订单】</a>中查询物流跟踪信息。</p>
                    <p><b>确认收货：</b>当快件送达至您的收货地址后，卷皮将为您自动确认收货并将奖励积分发放至您的账户。</p>
                    <div class="return-process"></div>
                    <p><b>售后服务承诺</b><br>
                        收到货后，如果因为主观原因不喜欢/不想要了，在不影响二次销售的情况下，签收后7天内，卷皮网为您提供七天无理由退货服务。如果未收到货或收到商品有质量问题，您可以在签收后15天内申请售后。
                        <a href="http://www.juanpi.com/help/temai/1701451" target="_blank">售后服务说明&gt;&gt;</a>
                    </p>

                    <p class="mt10"><b>运费补贴政策</b><br>
                        当您的退货商品单价≥30元，卷皮将提供价值10元的退货运费补贴。（每个订单仅补贴一次优惠劵）
                        <a href="http://www.juanpi.com/help/view/1511456" target="_blank">退货运费补贴说明&gt;&gt;</a>
                    </p>
                </div>
                <div class="info-title"><span class="consumer-protection">消费保障</span></div>
                <div class="details-info">
                    <div class="cp01">
                        <ul>
                            <li><span class="cpc01"></span></li>
                            <li><span class="cpc02"></span></li>
                            <li><span class="cpc03"></span></li>
                            <li><span class="cpc04"></span></li>
                            <li><span class="cpc05"></span></li>
                            <li><span class="cpc06"></span></li>
                            <li><span class="cpc07"></span></li>
                        </ul>
                    </div>
                    <div class="cp02">
                        <div class="cp-con">
                            <div class="con1"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con2"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con3"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con4"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con5"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con6"></div>
                        </div>
                        <div class="cp-con" style="display: none;">
                            <div class="con7"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hot_goods">
                <h3>
                    <div class="line"></div>
                    <div class="line-txt">猜你喜欢</div>
                </h3>
                <ul id="hot_goods_list"></ul>
            </div>

        </div>
    </div>
</div>
<div id="J-mini-cart" class="cart-flyinto">
    <img src="http://s2.juancdn.com/bao/160308/0/0/56de6ae592be59809a8b4586_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=400&amp;height=400%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"
         style="height:40px;!important">
</div>
<!-- 举报 box start -->
<div class="alert_bg" id="alert_report" style="left: 539px; top: 182.5px; position: fixed; display: none;">
    <div class="alert_box">
        <div class="alert_top">
            <span class="iconimg"></span>
            <span>举报</span>
            <a href="javascript:;" class="alert_close"
               onclick="$('#alert_report').hide();$('.alert_fullbg').hide();"></a>
        </div>
        <div class="alert_content">
            <div class="l_c_l">
                <form method="post" target="_self" id="inform" name="inform">
                    商品名称：<font class="bloak" re="" id="report_title">这里没什么用，内容会在前面通过js获取</font><br> 举报原因：
                    <select class="selectClass" id="reportAn" name="reportAn">
                        <option value="0">请选择</option>
                        <option value="1">宝贝价格与活动价格不符合</option>
                        <option value="2">宝贝不包邮或只包平邮</option>
                        <option value="3">宝贝已下架</option>
                        <option value="4">宝贝要求两件起拍，一件不发货</option>
                        <option value="5">卖家拒绝发货</option>
                        <option value="6">宝贝分类错误</option>
                        <option value="7">主图宝贝与实际出售宝贝不符</option>
                        <option value="8">其他原因</option>
                    </select>
                    <br>
                    <label style="display: none" class="other">其他原因：
                        <input type="text" id="otherReasons" class="text" name="otherReasons">
                        <br>
                    </label>
                    <input type="hidden" id="znid" value="10ui9d" name="inform_znid">
                    <!-- 表示举报商品属于卷皮特卖类型：shop -->
                    <input type="hidden" id="jubao_5397918" gtype="shop"/>
                    <input type="button" onclick="XD.JUBAO_SMT()" value="提 交" tabindex="3" class="smt">
                </form>
            </div>
        </div>
        <div class="bottom">注：为保证您的合法权益，请如实填写您所遇到的情况。</div>
    </div>
</div>
<!-- 举报 box end -->

<!-- 新版 -->
<!--main end-->


<!-- /主体 -->
<!-- 页脚 -->
<div class="foot">
    <div class="white_bg">
        <div class="foot-con">
            <div class="con-box-n clear">
                <div class="app-side-box fl">
                    <p class="app-show"></p>
                    <p class="app-txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p>
                </div>
                <div class="con-left-info fl">
                    <dl class="update">
                        <dt>获取更新</dt>
                        <dd><a href="http://www.juanpi.com/apps" target="_blank"
                               rel="nofollow"><i></i>iPhone/Android</a></dd>
                        <dd><a href="http://user.qzone.qq.com/474171717" target="_blank"
                               rel="nofollow"><i></i>卷皮QQ空间</a></dd>
                        <dd><a href="http://weibo.com/juanpicom" target="_blank" rel="nofollow"><i></i>卷皮新浪微博</a></dd>
                        <dd><a href="http://www.juanpi.com/about/api" target="_blank" rel="nofollow"><i></i>开放API</a>
                        </dd>
                    </dl>
                    <dl class="cooperation">
                        <dt>商务合作</dt>
                        <dd><a href="https://seller.juanpi.com/choice" target="_blank"><i></i>卖家免费报名</a></dd>
                        <dd><a href="http://www.juanpi.com/about/partner" target="_blank" rel="nofollow"><i></i>商务合作</a>
                        </dd>
                        <dd>
                            <a onclick="if (window.confirm('本邮箱仅接收合作商家对卷皮员工违规行为的举报。不接受用户咨询、投诉或商务合作申请。')) { window.location = 'mailto:' + 'moc.ipnauj@gnehznail'.split('').reverse().join(''); }"
                               href="javascript:void(0)"><i></i>廉政邮箱<br><span
                                    class="revEmail">lianzheng@juanpi.com</span></a></dd>
                    </dl>
                    <dl class="cor-info">
                        <dt>公司信息</dt>
                        <dd><a href="http://www.juanpi.com/about/juanpi" target="_blank" rel="nofollow"><i></i>关于卷皮</a>
                        </dd>
                        <dd><a href="http://www.juanpi.com/about/media" target="_blank" rel="nofollow"><i></i>媒体报道</a>
                        </dd>
                        <dd class="school"><a href="http://www.juanpi.com/about/job" target="_blank"
                                              rel="nofollow"><i></i>诚聘英才</a><a
                                href="http://www.juanpi.com/about/job_2015campus" target="_blank"><em></em></a></dd>
                        <dd><a href="http://www.juanpi.com/event/xiaoyuan_zhaomu" target="_blank" rel="nofollow"><i></i>校园大使招募</a>
                        </dd>
                    </dl>
                    <dl class="help-info">
                        <dt>帮助中心</dt>
                        <dd><a href="http://www.juanpi.com/help" target="_blank" rel="nofollow"><i></i>新手上路</a></dd>
                        <!--  <dd><a href="http://www.juanpi.com/help/101036" target="_blank" rel="nofollow"><i></i>抢购小技巧</a></dd> -->
                        <dd><a href="http://www.juanpi.com/jifen/task" target="_blank" rel="nofollow"><i></i>积分攻略</a>
                        </dd>
                        <dd><a href="http://www.juanpi.com/about/map" target="_blank"><i></i>网站地图</a></dd>
                    </dl>
                </div>
                <div class="con-menu fr">
                    <a href="http://www.juanpi.com/about/service" class="service-add fl" target="_blank"
                       rel="nofollow"></a>
            <span class="service-time fl">
                <p>周一至周日</p>
                <p>9:00-21:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </span>
                </div>
            </div>
            <p class="ft-company"><a href="http://www.juanpi.com" target="_blank" rel="nofollow">武汉奇米网络科技有限公司</a>
                027-65383291 鄂ICP备10209250号 | ICP许可证号：鄂B1-20150109 | 食品流通许可证
                SP4201991510041888&#12288;&#12288;Copyright &copy; 2010 - 2016 JuanPi.com All Rights Reserved</p>
        </div>
    </div>
</div>
<div id="J_sidebar" class="side_right">

    <div class="side-box">
        <ul class="side-oper">
            <li class="normal side-user">
                <a class="links" id="J_user" target="_blank" href="http://user.juanpi.com/">
                    <i class="normal-icon i-user"></i>
                </a>
                <div id="side-login" class="tab-tips tab-login">
                    <a href="http://user.juanpi.com/" target="_blank">
                        <div class="user-box">
                            <div class="pic"><img src="http://s.juancdn.com/common/images/global/default-60.jpg"></div>
                            <p class="txt"></p>
                        </div>
                    </a>
                    <i class="close">×</i>
                    <div class="arr-icon">◆</div>
                </div>
            </li>
            <li class="normal side-cart">
                <a class="links links-cart" id="J_cart" href="javascript:;">
                    <i class="normal-icon i-cart"></i>
                    <em class="num cartnum">0</em>
                </a>
                <div class="tab-tips tab-tag">
                    <div class="carttime"></div>
                    <div class="arr-icon">◆</div>
                </div>
                <div id="side-empty" class="tab-login" style="display:none;opacity:1;right:36px;">
                    <div class="user-box">
                        <div class="duang-pic"></div>
                        <p class="time"><em class="minutes">&nbsp;</em>分<em class="seconds">&nbsp;</em>秒后会清空购物袋商品<br>
                            要及时结算哦~</p>
                        <a href="detail.html" class="go_pay">去结算</a>
                    </div>
                    <i class="close">×</i>
                    <div class="arr-icon">◆</div>
                </div>
            </li>
            <li class="normal side-love">
                <a class="links" id="J_love" target="_blank" href="http://user.juanpi.com/favorite">
                    <i class="normal-icon i-love"></i>
                </a>
                <div class="tab-tips">我的收藏
                    <div class="arr-icon">◆</div>
                </div>
            </li>
            <li class="normal side-quan">
                <a class="links" id="J_quan" target="_blank" href="http://user.juanpi.com/coupon">
                    <i class="normal-icon i-quan"></i>
                </a>
                <div class="tab-tips">我的优惠券
                    <div class="arr-icon">◆</div>
                </div>
            </li>
        </ul>
        <ul class="side-oper other">
            <li class="normal side-complain">
                <a class="links" id="J_complain" target="_blank" href="http://user.juanpi.com/question">
                    <i class="normal-icon i-complain"></i>
                </a>
                <div class="tab-tips">意见反馈
                    <div class="arr-icon">◆</div>
                </div>
            </li>
            <li class="normal side-code">
                <a class="links" id="J_code" href="javascript:;">
                    <i class="normal-icon i-code"></i>
                </a>
                <div class="tab-tips">
                    <div class="code-box">
                        <p class="code"></p>
                        <p class="txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p>
                    </div>
                    <div class="arr-icon">◆</div>
                </div>
            </li>
            <li class="normal side-backtop">
                <a class="links" id="J_backtop" href="javascript:;">
                    <i class="normal-icon i-backtop"></i>
                </a>
                <div class="tab-tips">返回顶部
                    <div class="arr-icon">◆</div>
                </div>
            </li>
        </ul>
    </div>

    <div id="J-right-bag" class="bag-tool right-bag">
        <div class="sidebar-hd">
            <i class="close" id="J_cart_close">×</i>
            <span class="t">购物袋</span><span class="time carttime"></span>
        </div>
    </div>

</div>
<div class="tag_remind" style="display:none;">
    <p class="tips"><em icon-bag="" icon-normal="" class="icon-normal icon-clock"></em>有货啦！</p>
    <p class="txt"><em class="remindnum"></em>件商品恢复有货！赶紧抢回来吧</p>
    <p class="btn_all"><a target="_blank" href="http://user.juanpi.com/favorite">马上查看</a></p>
    <a class="del" href="javascript:;">×</a>
</div>
<!-- /页脚 -->
<!-- 脚本 -->
<!-- 脚本 -->
<!--[if lt IE 9]>
        <script type="text/javascript" src="//s.juancdn.com/common/js/json2.min.js?ts=cab196f749df446a_1457442204"></script>
        <![endif]-->
<script type="text/javascript"
        src="http://s.juancdn.com/common/js/??lightbox.js,lazyload.js?ts=cab196f749df446a_1457442204"></script>
<script src="http://s.juancdn.com/juanpi/??assets/init/md-login.js?ts=cab196f749df446a_1457442204"
        type="text/javascript"></script>
<!--有些页面不要到顶部图标 -->
<!--<script src="//s.juancdn.com/juanpi/??assets/init/md-totop.js?ts=cab196f749df446a_1457442204" type="text/javascript"></script>-->
<script src="http://s.juancdn.com/juanpi/assets/init/??jp.common.js,jp.footer.js?ts=cab196f749df446a_1457442204"
        type="text/javascript"></script>

<script type="text/javascript"
        src="http://s.juancdn.com/juanpi/assets/init/??md-pbtool.js?ts=cab196f749df446a_1457442204"></script>
<script type="text/javascript"
        src="http://s.juancdn.com/jiukuaiyou/??assets/init/md-time.js?ts=cab196f749df446a_1457442204"></script>
<script type="text/javascript">
    var bfd_pid = 'goods_detail';
    var bfd_info = {
        "id": "5397918",
        "name": "\u97e9\u7248\u65f6\u5c1a\u53ef\u7231\u7b80\u7ea6\u649e\u8272\u5370\u82b1\u5bbd\u677e\u8759\u8760\u8896\u4fee\u8eab\u88d9\u88e4\u5957\u88c5",
        "link": "http:\/\/shop.juanpi.com\/deal\/5397918",
        "image_link": "\/\/s2.juancdn.com\/bao\/160308\/0\/0\/56de6ae592be59809a8b4586_800x800.jpg?iopcmd=thumbnail&type=8&width=400&height=400%7Ciopcmd=convert&Q=88&dst=jpg",
        "simage_link": "\/\/s2.juancdn.com\/bao\/160308\/0\/0\/56de6ae592be59809a8b4586_800x800.jpg?iopcmd=thumbnail&type=8&width=58&height=58%7Ciopcmd=convert&Q=88&dst=jpg",
        "price": "69.00",
        "market_price": "339.00",
        "dis": "2.0",
        "category": [["\u5377\u76ae\u6298\u6263", "http:\/\/www.juanpi.com"], ["\u54c1\u724c\u6298\u6263", "http:\/\/brand.juanpi.com"], ["\u5973\u88c5", "http:\/\/brand.juanpi.com\/nvzhuang"], ["\u649e\u8272\u8759\u8760\u8896\u88d9\u88e4\u5957\u88c5", "http:\/\/shop.juanpi.com\/\/deal\/5397918"]],
        "brand": "\u97e9\u98ce\u65f6\u5c1a",
        "onsale": true,
        "stock": "1600",
        "page_type": "detail",
        "online": 1,
        "etm": "1458093600",
        "gender": 2
    };
    $("img.lazy").lazyload({threshold: 200, failure_limit: 30});
    seajs.use([
        "http://s.juancdn.com/juanpi/assets/init/zhe/??zhe-item.js?ts=cab196f749df446a_1457442204",
        "http://s.juancdn.com/juanpi/assets/init/shop/??pg-deal.js?ts=cab196f749df446a_1457442204",
        "http://s.juancdn.com/juanpi/assets/init/??md-tweet.js?ts=cab196f749df446a_1457442204"
    ], function (a, b, c) {
        a();
        b();
        c();
    });

    var gid = 5397918;
    var terminalFlag = 1;
    if (terminalFlag === 0) {
        $("#J-mini-btn").append("<div class='terminalTips' ><i class='icon-telephone'></i></div>");
    }

    var getActivityInfo = {
        getActivityInfoFun: function (gid, ugctag) {
            $.ajax({
                type: 'GET',
                url: 'http://shop.juanpi.com/deal/getActivitysInfo',
                data: {gid: gid, ugctag: ugctag},
                dataType: 'json',
                cache: true,
                success: function (res) {

                    if (res.code == 1000) {

                        var obj = res.data;

                        //判断是否为展开状态
                        var expand = false;
                        var count = 0;//计算有几条营销信息
                        if (obj.actinfo.m) {
                            count = 1;
                        }
                        if (obj.mzinfo.count > 0) {
                            count += obj.mzinfo.count
                        }
                        if (count == 0) return;//没有任何数据
                        if (count == 1) {
                            expand = true;
                        }


                        var _html = [];

                        if (expand) {
                            _html.push('<dl class="activity-info expand clear">');
                            _html.push('    <dt>促销：</dt>');
                            _html.push('    <dd>');
                            _html.push('        <div class="activity-c fl">');
                        } else {
                            _html.push('<dl class="activity-info clear">');
                            _html.push('    <dt>促销：</dt>');
                            _html.push('    <dd>');
                            _html.push('        <div class="activity-c fl">');
                            //不展开状态需要显示收起文案
                            _html.push('        <div class="show-item clear">');
                            _html.push('            <div class="brand-tag-red fl">满赠</div><div class="info fl">' + obj.mzinfo.data['0'].m + '</div>');
                            _html.push('        </div>');
                        }

                        if (obj.mzinfo.count > 0) {
                            _html.push('        <div class="mainzeng-c" >');
                            for (var key in obj.mzinfo.data) {

                                var curitem = obj.mzinfo.data[key];

                                _html.push('            <div class="manzeng activity-item clear">');
                                _html.push('                <div class="brand-tag-red fl">满赠</div><div class="info fl">' + (curitem.ms || curitem.m) + '</div>'); //(curitem.ms || curitem.m) 防止赠品为券时没有ms展开文案

                                //赠品info有数据时才显示gift-box
                                if (curitem.info.length > 0) {
                                    if (curitem.type == 1) {

                                        _html.push('                <div class="gift-box">');
                                        _html.push('                    <div class="head">赠品</div>');
                                        _html.push('                    <div class="gift-c">');
                                        for (var i = 0; i < curitem.info.length; i++) {
                                            _html.push('                    <div class="goods-item clear">');
                                            _html.push('                        <div class="item-l fl"><img src="http://shop.juanpi.com/deal/' + curitem.info[i].pse_pic + '" width="35" height="35"></div>');
                                            _html.push('                        <div class="item-r fl">');
                                            _html.push('                            <div class="item-info clear"><div class="name fl">' + curitem.info[i].ps_title + '</div><div class="num fr">X1</div></div>');
                                            _html.push('                            <div class="price">价值' + curitem.info[i].pse_price + '元</div>');
                                            _html.push('                        </div>');
                                            _html.push('                    </div>');
                                        }
                                        _html.push('                    </div>');
                                        _html.push('                    <div class="arrow"></div>');
                                        _html.push('                 </div>');
                                    }
                                    //优惠券
                                    if (curitem.type == 2) {
                                        _html.push('                <div class="gift-box">');
                                        _html.push('                    <div class="head">赠优惠券</div>');
                                        _html.push('                    <div class="gift-c">');
                                        _html.push('                        <div class="coupon-item">');
                                        _html.push('                            <span class="price">￥' + curitem.info[0].aeMoney + '</span>满' + curitem.info[0].aeMinMoney + '元可用');
                                        _html.push('                            <div class="time">使用期限：' + curitem.info[0].startTime + ' 至 ' + curitem.info[0].endTime + '</div>');
                                        _html.push('                        </div>');
                                        _html.push('                    </div>');
                                        _html.push('                    <div class="arrow"></div>');
                                        _html.push('                </div>');
                                    }
                                    //券包
                                    if (curitem.type == 3) {
                                        _html.push('                <div class="gift-box">');
                                        _html.push('                    <div class="head">赠优惠券</div>');
                                        _html.push('                    <div class="gift-c">');
                                        for (var i = 0; i < curitem.info.length; i++) {
                                            _html.push('                        <div class="coupon-item">');
                                            _html.push('                            <span class="price">￥' + curitem.info[i].aeMoney + '</span>满' + curitem.info[i].aeMinMoney + '元可用');
                                            _html.push('                            <div class="time">使用期限：' + curitem.info[i].startTime + ' 至 ' + curitem.info[i].endTime + '</div>');
                                            _html.push('                        </div>');
                                        }
                                        _html.push('                    </div>');
                                        _html.push('                    <div class="arrow"></div>');
                                        _html.push('                </div>');
                                    }
                                }
                                _html.push('            </div>');
                            }
                            _html.push('            </div>');
                        }

                        if (obj.actinfo.m) {
                            _html.push('        <div class="manjian activity-item clear">');
                            switch (obj.actinfo.abtype) {
                                case 4:
                                    _html.push('            <div class="brand-tag-red fl">满减</div><div class="info fl">' + obj.actinfo.m + '<a class="detail" href="http://shop.juanpi.com/factivity/' + obj.actinfo.abId + '" target="_blank">详情》</a></div>');
                                    break;
                                case 6:
                                    _html.push('            <div class="brand-tag-red fl">满件折</div><div class="info fl">' + obj.actinfo.m + '<a class="detail" href="http://shop.juanpi.com/factivity/' + obj.actinfo.abId + '" target="_blank">详情》</a></div>');
                                    break;
                                case 7:
                                    _html.push('            <div class="brand-tag-red fl">满件减</div><div class="info fl">' + obj.actinfo.m + '<a class="detail" href="http://shop.juanpi.com/factivity/' + obj.actinfo.abId + '" target="_blank">详情》</a></div>');
                                    break;
                            }
                            _html.push('        </div>');
                        }
                        _html.push('        </div>');
                        //是否显示更多促销
                        if (!expand) {
                            _html.push('        <div class="collapsed fr">');
                            _html.push('            更多促销<i></i>');
                            _html.push('        </div>');
                        }
                        _html.push('    </dd>');
                        _html.push('</dl>');
                        $(".J-basic .tm-price").after(_html.join(''));

                        //绑定 收缩 展开事件
                        $(".activity-info .collapsed").bind("click", function () {
                            if ($(this).parents('.activity-info').hasClass("expand")) {
                                $(this).html("更多促销<i></i>");
                                $(this).parents('.activity-info').removeClass("expand");
                            } else {
                                $(this).html("收起<i></i>");
                                $(this).parents('.activity-info').addClass("expand");
                            }
                        })

                        //绑定显示赠品详细事件
                        $(".activity-info .mainzeng-c .activity-item").hover(function () {
                            var pos = $(this).offset();
                            var giftboxj = $(this).find(".gift-box");
                            giftboxj.show();
                            var gifth = giftboxj.height();
                            giftboxj.css("top", -gifth / 2 + 12);
                        }, function () {
                            $(this).find(".gift-box").hide();
                        })
                    }
                }
            });
        },
        initFun: function () {
            var ugctag = XDTOOL.getCookie('user_group_ctag');
            if (!ugctag) {
                $.ajax({
                    url: '//user.juanpi.com' + '/tag/getGroupCTag',
                    type: 'GET',
                    dataType: 'jsonp',
                    success: function (data) {
                        //console.log(data);
                        if (!data || data == '' || data == undefined) {
                            data = 'NC';
                        } else {
                            ugctag = data;
                        }
                        getActivityInfo.getActivityInfoFun(gid, ugctag);
                    }
                });
            } else {
                getActivityInfo.getActivityInfoFun(gid, ugctag);
            }

        }
    }
    getActivityInfo.initFun();

    var gcat_gid = 652918,
            gcat_id = 285,
            gcat_topid = 1;


    $.ajax({
        type: "get",
        dataType: 'jsonp',
        jsonpCallback: 'callback_time',
        url: 'http://upload.juancdn.com/time?ts=' + new Date(),
        success: function (time) {
            var servertime = time / 1000;
            setInterval(function () {
                timestamp = 1458093600 - servertime;
                //计算出相差天数
                days = Math.floor(timestamp / (24 * 3600));
                //计算出小时数
                leave1 = timestamp % (24 * 3600);    //计算天数后剩余的毫秒数
                hours = Math.floor(leave1 / (3600));
                //计算相差分钟数
                leave2 = leave1 % (3600);       //计算小时数后剩余的毫秒数
                minutes = Math.floor(leave2 / (60));
                //计算相差秒数
                leave3 = leave2 % (60);      //计算分钟数后剩余的毫秒数
                seconds = Math.round(leave3);
                days = days < 0 ? 0 : days;
                hours = hours < 0 ? 0 : hours;
                minutes = minutes < 0 ? 0 : minutes;
                seconds = seconds < 0 ? 0 : seconds;
                $("#d").html(days);
                $("#h").html(hours);
                $("#m").html(minutes);
                $("#s").html(seconds);
                servertime++;
            }, 1000);
        }
    });


    //控制滚动
    $(function () {
        $('.slide-box-tab li').bind('click', function () {
            var tagname = $(this).find('a').attr('_tagname');
            $('.info-title').each(function () {
                if ($(this).attr('_tagname') == tagname) {
                    var h = $(this).offset().top - 120;
                    window.scrollTo(100, h);
                }
            });
        });
        $('.slide-box-main li').bind('click', function () {
            if ($(this).index() == 1) {
                var h = $('.buy-guidelines').offset().top - 120;
            }
            ;
            if ($(this).index() == 2) {
                var h = $('.consumer-protection').offset().top - 120;
            }
            if ($(this).index() == 0) {
                return;
            }
            window.scrollTo(100, h);
        });
    });
    //副图居中
    $('.deal-pic ul').css('width', $('.deal-pic ul li').length * 65 - 5);
    function check_endtime() {
        var servertime = 1457493502;
        var end_time = 1457493502;
        if (servertime > end_time) {
            var info = '<div class="con-go"><p class="txt">很抱歉，满减活动已结束！</p></div>';
            var box = new XDLightBox({
                title: '提示',
                lightBoxId: 'alert_sign',
                contentHtml: info,
                scroll: false
            });
            box.init();
        }
    }
    $("#show-qcode").hover(function () {
        $("#new-qcode").css('display', 'block');
    }, function () {
        $("#new-qcode").css('display', 'none');
    })
</script>

<script src="http://s.juancdn.com/juanpi/??assets/init/pg-stat.js,assets/init/md-ga.js,assets/init/business.js?ts=cab196f749df446a_1457442204"
        language="javascript"></script>
<!-- /脚本 -->
</body>
</html>